#kb-container {
  flex-grow: 1;
  display: block;
  position: relative;
}

#cy {
  /* parent must have position: relative/absolute */
  width: 100%;
  height: 100%;
  border: 1px solid #dedede;
  border-radius: 3px;
}

#cy-toolbar {
  position: absolute;
  top: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0.5em;
  border-bottom: 1px solid #dddddd;
  background-color: #cccccc33;
}

#cy-toolbar .btn:not(:hover) {
  background-color: #ffffff;
}

#kb-container .canvas-tooltip {
  display: inline-block;
  background-color: #ffffff;
  border: 3px solid #dddddd;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 3px #999999;
  position: absolute;
}

#kb-container .canvas-tooltip-text {
  display: block;
}

#kb-container .bt-dialog {
  min-width: 5em;
}