/*
 * Base structure
 */

 html,
 body {
   height: 100%;
   color: #555;
   /* background-color: #333; */
 }
 
 body {
   display: -ms-flexbox;
   display: -webkit-box;
   display: flex;
   -ms-flex-pack: center;
   -webkit-box-pack: center;
   justify-content: center;
   /* color: #fff; */
   /* text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
   box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5); */
 }

 main.inner.cover {
   width: 42em;
   margin-left: auto;
   margin-right: auto;
 }

.modal .btn.bt-ok,
.modal .btn.bt-yes,
.modal .btn.bt-no,
.modal .btn.bt-cancel,
.modal .btn.bt-close {
  min-width: 5rem;
}

.list {
  max-height: 160px;
  overflow-y: scroll;
  /* overflow: hidden; */
}

.list .row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  padding: 0.5rem;
  cursor: pointer;
}

.list .row:last-child {
  border-bottom: none;
}