body { 
  font: 14px helvetica neue, helvetica, arial, sans-serif;
}

#cy {
  height: 500px;
  width: 90%;
  border:1px solid #c88;
}

#info {
  color: #c88;
  font-size: 1em;
  /* position: absolute; */
  /* z-index: -1; */
  left: 1em;
  top: 1em;
}