html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-content {
  box-shadow: 0 0 20px 10px #999;
}

#modal-dialog .modal-content {
  width: 450px;
  margin: 0 auto;
}