#chat .bt-dialog {
  min-width: 5em;
}

ul#room-list {
  padding: 0;
  margin: 0;
}

#room-list .room {
  list-style: none;
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #efefef;
  cursor: pointer;
  font-size: smaller;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#room-list .room:hover {
  background-color: #dedede;
}

#room-list .room:last-child {
  border: none;
}

#chat-toolbar {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #fff;
}

.popup {
  box-shadow: 0px 0px 5px 0px #ccccccef;
}

#popup-channel,
#popup-users,
#popup-rooms,
#popup-chat {
  display: none;
  position: absolute;
  border: 1px solid #dedede;
  border-radius: 3px;
  padding: 0.5em 0;
  max-width: 250px;
  background-color: #fff;
}

#popup-chat {
  padding: 0 0.5em 0.5em;
  font-size: smaller;
  display: flex;
  flex-direction: column;
  width: 250px;
  position: absolute;
  top: 0;
  left: 0;
  height: calc(100% - 15em);
  /* display: none; */
}

#popup-chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* #chat-message-container {
  min-height: 300px;
  min-width: 200px;
  max-height: 300px;
} */
#room-name {
  margin: 0.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-shrink: 0;
}

#bt-close-popup-chat {
  padding: 0.5em 1em;
  cursor: pointer;
}

#chat-container, .channel-container {
  flex-grow: 999999;
  /* flex-basis: 99999; */
  overflow-y: scroll;

  /* Supaya width dan height container chat 
  sama dengan container ini */
  position: relative;

  background-color: #ffffff;
  border: 1px solid #efefef;
  border-left: none;
  border-right: none;
  max-width: 400px;
  min-width: 200px;
}

#chat-message-container, .channel-message-container {  
  width: 100%; /* Supaya lebarnya memenuhi parent container */
  /* border: 1px solid blue; */

  /* supaya posisinya awal chat ada di bawah */
  min-height: 100%; 

  /* dorong ke bawah dengan flex-end */
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  
  padding: 0 1em;
}

#chat-message-container p, 
.channel-message-container p {
  padding: 0;
  margin: 0;
}

#chat-message-container p .wrap, 
.channel-message-container p .wrap{
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.2em 0.6em;
  margin: 0 0 0.3em;
}

#chat-message-container p .sender,
.channel-message-container p .sender {
  font-size: smaller;
  font-weight: bold;
}

#chat-message-container .me, 
.channel-message-container .me {
  text-align: right;
}

#chat-message-container .other,
.channel-message-container .other {
  text-align: left;
}

#chat-message-container .server,
.channel-message-container .server {
  text-align: left;
  font-style: italic;
  color: #777;
}

#chat-message-container .server .wrap, 
.channel-message-container .server .wrap { border: none; }
#chat-message-container .other .wrap,
.channel-message-container .other .wrap { background-color: #f4f4f4; }

#chat-message-input-container, 
.channel-message-input-container {
  margin-top: 0.5em;
}

/* Modal Channel */

#modal-channel {
  min-width: 300px;
  min-height: 400px;
  width: 350px;
  display: flex;
  max-height: calc(100% - 15em);
}

#modal-channel .modal-header {
  background-color: #efefef;
  cursor: move;
  transition-duration: 200ms;
}

#modal-channel .modal-header:hover {
  background-color: #dedede;
}

#modal-channel .modal-title {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 1rem;
}

#modal-channel .modal-content {
  border: 3px solid #777777aa;
  border-radius: 0.5rem;
}

#modal-channel .modal-body {
  display: flex;
  flex-direction: column;
  max-height: calc(100% - 10em);
  font-size: smaller;
}

/* List Handling */

.list-container {
  max-height: 300px;
  min-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.list-item {
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  background-color: #f4f4f4;
}

.list-item:hover {
  background-color: #dedede;
}

.list-item:last-child {
  border: none;
}