html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.modal-footer .btn {
  min-width: 100px;
}

.list-container {
  padding: 0 1rem 1rem;
  max-height: 20rem;
  overflow-y: scroll;
}

.row.list {
  border-bottom: 1px solid #dedede;
  margin-bottom: 2px;
  padding-bottom: 2px;
}

.row.list.selected {
  background-color: #f4f4f4;
}

.list-hover:hover {
  background-color: #efefef;
}

.list-pointer {
  cursor: pointer;
}

.row.list:last-child {
  border-bottom: none;
}

/* 
#ckb-container #heading h3 {
  display: inline;
}

#ckb-container #heading {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#ckb-container {
  height: 100%;
}

#panel-container {
  height: calc(100% - 4em);
}

#cytoscape-container {
  height: 100%;
  display: flex;
}

#cy {
  height: calc(100% - 3.5em);
  width: calc(100% - 2em);
  border: 1px solid #cccccc;
  border-radius: 5px;
  position: absolute;
}

#cytoscape-toolbar {
  display: flex;
  justify-content: space-between;
  margin: 0.5em 1em;
  width: 100%;
}

.canvas-tooltip {
  display: inline-block;
  background-color: #ffffff;
  border: 3px solid #dddddd;
  border-radius: 5px;
  padding: 5px 10px;
  box-shadow: 0px 0px 3px #999999;
  position: relative;
}

.canvas-tooltip-text {
  display: block;
}


#group-list ul {
  padding: 0;
  margin: 0;
}

#group-list .group {
  list-style: none;
  margin: 0;
  padding: 1em;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  background-color: #f4f4f4;
}

#group-list .group:hover {
  background-color: #dedede;
}

#group-list .group:last-child {
  border: none;
} */


/* List Handling */
/* 
.list-container {
  max-height: 300px;
  min-height: 150px;
  overflow: hidden;
  overflow-y: scroll;
}

.list-item {
  margin: 0;
  padding: 0.5em 1em;
  border-bottom: 1px solid #cccccc;
  cursor: pointer;
  background-color: #f4f4f4;
}
.list-item:hover {
  background-color: #dedede;
}

.list-item:last-child {
  border: none;
} */
/* 
#analyzer-sidebar-container {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  max-width: 400px;
  min-width: 200px;
  width: 20%;
  top: 0;
  left: 0;
  margin: 6em 2em 0em;
  display: flex;
  flex-direction: column;
}

#learner-maps-container {
  margin: 0.5em 0;
  font-size: 13px;
  max-height: 290px;
  overflow-y: scroll;
}

#learner-maps-list-container {
  display: flex;
  flex-direction: column;
}

.learnermap {
  background-color: #f4f4f4;
  cursor: pointer;
  border-bottom: 1px solid #ccc;
  border-radius: 0.3em;
  padding: 0.2em 0.6em;
  margin: 0 0 0.3em;
  display: flex;
  justify-content: space-between;
}

.learnermap:hover {
  background-color: #dedede;
  cursor: pointer;
}

#learner-maps-container p {
  padding: 0;
  margin: 0;
}

.learnermap:first {
  margin-top: 1em;
} */

/* #student-maps-container p .wrap {
  display: block;
}

#student-maps-container .server .wrap { border: none; } */
/* 
.bt {
  cursor: pointer;
}

.bt:hover {
  background-color: #dedede;
} */

/* #chat-message-input-container {
  margin: 0 0.5em 0.5em 0.5em;
} */



