html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  padding: 0.5em;
}

#main-container {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  flex-grow: 1;
}

#app-toolbar {
  padding: 0 0 0.5em;
  text-align: center;
}

#app-toolbar .separator {
  display: inline-block;
  width: 30px;
}

#app-toolbar .btn {
  padding-left: 1rem;
  padding-right: 1rem;
}

.progress {
  margin-top: 0.5rem;
}